body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    /* Font Styles: Thin 100,ExtraLight 200, Light 300, Regular 400, 
    Medium 500, SemiBold 600, Bold 700, ExtraBold 800, Black 900,
    Thin 100 Italic, ExtraLight 200 Italic, Light 300 Italic,
    Regular 400 Italic, Medium 500 Italic, SemiBold 600 Italic,
    Bold 700 Italic, ExtraBold 800 Italic, Black 900 Italic */
    background-color: #C8EEFF;
    color: #033E8C;
}

.header{
    margin: 2rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-slideshow{
    display: none;
}

.header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-logo{
    margin-top: 2rem;
    margin-bottom:1rem;
    max-width: 200px;
}

.header-grid{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.header h1{
    font-size: 2rem;
    padding-bottom: 10px;
}

.header p{
    font-size: .9rem;
    padding-bottom: 10px;
}

.header-pics{
    flex: 1;
}

.header-pics img{
    border-radius: 8px;
    margin-bottom: 10px;
}

.home-gallery figure figcaption{
    background-color: #033E8C;
    padding: 5px;
    color: white;
    border-radius: 8px;
    font-size: .9rem;
}

.main-section{
    margin: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: .9rem;
    gap: 10px;
}

.home-gallery{
    margin: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: .9rem;
    gap: 10px;

}

.get-started{
    background-color: #033E8C;
    padding: 8px;
    color: white;
    border-radius: 8px;
    width: 50%;
}

.return-profile{
    background-color: #0275DC;
    padding: 8px;
    color: white;
    border-radius: 8px;
    width: 50%;
}

.footer{
    display: none;
}

@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1.6fr 1fr;
        grid-template-rows: 1fr;

        gap: 1rem;
        min-height: 100vh;
        box-sizing: border-box;
    }

    .header, .main-section{
        margin: 0;
        padding: 1rem;
    }

    .header-grid{
        display: none;
    }

    .header-slideshow{
        display: grid;
    }

   .header-slide img{
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .left-side{
        margin: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer{
    display: grid;
    margin: 2rem;
    grid-column: span 2;
    text-align: center;
    gap: 20px;
  }

  .footer-socials{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .footer-socials h4{
    width: 100%;
    text-align: center;
  }

  .footer-overview a{
    text-decoration: underline;
  }
}