body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    /* Font Styles: Thin 100,ExtraLight 200, Light 300, Regular 400, 
    Medium 500, SemiBold 600, Bold 700, ExtraBold 800, Black 900,
    Thin 100 Italic, ExtraLight 200 Italic, Light 300 Italic,
    Regular 400 Italic, Medium 500 Italic, SemiBold 600 Italic,
    Bold 700 Italic, ExtraBold 800 Italic, Black 900 Italic */
    background-color: #C8EEFF;
    color: #033E8C;
}

.nav-bar{
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    background-color: white;
    font-weight: 700;
    color: #0275DC;
    width: 100%;
} 

.nav-bar a{
    display: block;
}

.projects-link{
    color: #033E8C;
}

.header{
    margin-top: 2rem;
    margin-bottom: .5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    text-align: center;
}

.main-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    gap: 2rem;
}


.project-form{
    background-color: white;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .9rem;
}

.form-group{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    width: 100%;
}

.project-form label{
    color: #033E8C;
    padding: 5px;
}

.project-form input{
    background-color: #E2F6FF;
    padding: 5px;
    color: #033E8C;
}

input[type="date"]{
    flex: 2;
}

input[type="text"]{
    flex: 2;
}

input[type="url"]{
    flex: 2;
}

input[type="number"]{
    flex: 2;
}

.project-form textarea{
    background-color: #E2F6FF;
    padding: 10px;
    color: #033E8C;
    width: 100%;
}

textarea::placeholder {
  color: #033E8C;
  opacity: .5;
}

fieldset{
    border: 0;
}

legend{
    font-weight: 600;
}

.form-btns{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.submit{
    background-color: #033E8C;
    padding: 8px;
    color: white;
    border-radius: 8px;
    width: 40%;
    justify-content: center;
}

.reset{
    background-color: #0275DC;
    padding: 8px;
    color: white;
    border-radius: 8px;
    width: 40%;
    justify-content: center;
}

.saved-projects {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  align-items: center;
  width: 100%;
  text-align: center;
}

.saved-title {
  margin-bottom: 0.5rem;
  text-align: center;
}

.project-row{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    margin-top: 1rem;
}

.project-link{
    background-color: #0275DC;
    padding: 8px;
    color: white;
    border-radius: 8px;
    justify-content: center;
    flex: 5;
    text-align: center;
}

.delete-btn{
    background-color: #79BFFC;
    padding: 8px;
    color: white;
    border-radius: 8px;
    justify-content: center;
    flex:1;
}

.error-message{
    color: red;
}

.footer{
    display: none;
}

@media screen and (min-width: 768px) {
  .project-form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-form fieldset {
    flex: 1;
  }

  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem;
    gap: 20px;
  }

  .footer-socials{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .footer-socials h4{
    width: 100%;
  }

  .footer-overview a{
    text-decoration: underline;
  }
}